<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Noto+Serif+TC:wght@600&family=Ubuntu:ital,wght@1,700&display=swap"
    rel="stylesheet">
  <title>My Restaurant List</title>
  <!-- navigation -->
  <nav class="navbar navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top mr-2"
          alt="my-restaurant list">
        {{#if isAuthenticated}}{{#if user.username}}{{ user.username }}'s {{else}}My {{/if}}{{else}}My {{/if}}Restaurant
        List
      </a>
      <!-- login:search and create -->
      {{#if isAuthenticated}}
      <div class="row justify-content-end align-items-center">
        <div class="search-bar mt-1">
          <form action="/restaurants/search" method="GET" class="form-inline">
            <div class="input-group">
              <input type="text" name="keyword" class="form-control search-input" placeholder="搜尋餐廳、分類"
                aria-label="search" value="{{keyword}}" aria-describedby="search-button">
              <div class="input-group-append">
                <button class="btn search-button" type="submit"><i class="fas fa-search"
                    style="color: rgba(255,255,255,0.5)"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div>
          <a href="/restaurants/create">
            <button class="mt-1 create-page-btn mr-2" type="button"><i class="mr-2 fas fa-plus"></i>新增餐廳
            </button>
          </a>
          <a href="/restaurants/edit">
            <button class="mt-1 edit-page-btn" type="button"><i class="mr-2 fas fa-pen"></i>編輯管理
            </button>
          </a>
          <a href="/users/logout">
            <button class="mt-1 edit-page-btn" type="button"><i class="mr-2 fas fa-sign-out-alt"></i>登出
            </button>
          </a>
        </div>
      </div>
      {{else}}
      <div>
        <a href="/users/login">
          <button class="mt-1 edit-page-btn" type="button"><i class="mr-2 fas fa-sign-in-alt"></i>登入
          </button>
        </a>
      </div>
      {{/if}}
    </div>
  </nav>
  {{#if isAuthenticated}}
  <div class="banner">
  </div>
  {{/if}}
</head>

<body>
  {{{ body }}}

  <footer>
    <div class="footer text-center py-3 pb-2 align-item-center">
      <div class="row align-items-center  justify-content-center" style="width: 100%;">
        <div class="col-md-4">
        </div>
        <div class="col-md-2 git-link">
          <a href="https://github.com/schiafang"><img src="https://i.imgur.com/frLUCiN.png" style="opacity: 80%;"></a>
        </div>
        <div class="col-md-4">
          <a href="https://github.com/schiafang/restaurant-list-project" class="mr-4"
            style="color: rgb(148, 148, 148);">
            My Restaurant List project</a>
          <span> 2020 </span>
          <a href="https://tw.alphacamp.co/" class="ml-1" style="font-weight:500; color: #C03D3D;"> Alpha Camp</a>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </footer>
  <script src="/javascripts/all.js"></script>
  <script src="/javascripts/jquery-3.5.0.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/images"></script>
</body>

</html>