<div class="container">
  <div class="row justify-content-end">
    <div class="sort-box">
      <button class="sort-dropdown btn dropdown-toggle" type="button" id="sort-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" disabled>
        SORT BY
      </button>
      <div class="dropdown-menu dropdown-menu-center" aria-labelledby="sort-dropdown-menu">
        <a class="dropdown-item" href="/restaurants/sort/name/asc">A-Z</a>
        <a class="dropdown-item" href="/restaurants/sort/name/desc">Z-A</a>
        <a class="dropdown-item" href="/restaurants/sort/_id/desc">Latest</a>
        <a class="dropdown-item" href="/restaurants/sort/rating/desc">Rating</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{#each restaurant}}
    <div class="col-sm-12 col-md-4 col-lg-3 mb-4 ">
      <a href="/restaurants/{{this._id}}" class="text-secondary">
        <div class="card">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body">
            <h6 class="card-title">{{this.name}}</h6>
            <div class="row justify-content-between align-items-center">
              <div class="card-category mb-1 ml-3">
                <i class="mr-2 fas fa-utensils"></i></i> {{this.category}}
              </div>
              <div class="mr-3">
                <span class="badge badge-info font-weight-normal" style="background-color: rgb(183, 111, 118);">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="card-footer">
        <form action="/restaurants/{{ this._id }}/edit" method="GET">
          <button type="submit" class="edit-btn"><i class="far fa-edit"></i></button></form>
        <form action="/restaurants/{{ this._id }}/?_method=DELETE" method="POST" onsubmit="return deleteConfirm()">
          <button type="submit" class="edit-btn delete-btn" id="delete-btn"><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>